@use 'breakpoints' as *;

/* =============================================================================
   CSS Variables
   ========================================================================== */

// Variables

:root {


  --palette-white: rgba(248, 245, 240, 1);
  --palette-white-mute: rgba(248, 245, 240, 0.5);
  
  --palette-black:  rgba(23, 23, 23, 1);
  --palette-black-mute: rgba(23, 23, 23, 0.5);

  
  --color-background: var(--palette-white);
  --color-text: var(--palette-black);
  --color-border: var(--palette-black-mute);

  // Gutters & Layout

  --gutter: 0.938rem;
  --gutter-2: calc(var(--gutter) * 2);
  --gutter-half: calc(var(--gutter) / 2);
  --gutter-quarter: calc(var(--gutter) / 4);
  overscroll-behavior: none;
  --control-height: 38px;
  --border-radius: 8px;
}

html.dark {
  --color-background: var(--palette-black);
  --color-text: var(--palette-white);
  --color-border:  var(--palette-white-mute);
 
}

/* =============================================================================
  Global Styles
   ========================================================================== */

::selection {
  // background: #ccc; 
}
body, html {height: 100%; }
body {overscroll-behavior-y: none;overscroll-behavior-x: none;}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  min-height: -webkit-fill-available;
  height:100%;
  &.no-overflow {
    overflow: hidden !important;
  }
  .page {opacity:0;min-height: 100vh;}
  .hide-preloader {opacity:0;}
  &.preloader-finished {overflow: visible;
    .main-menu {opacity:1;}
    .hide-preloader {opacity:1;}
    .page {opacity:1;}
  }
  &.preloader-started {overflow: hidden;
    .main-menu {opacity:0;} 
  }


}


.main, .page{min-height:100%;}
.page {position: relative;overflow: hidden;}

a {text-decoration:none;color: var(--color-text);
  &:hover {text-decoration:none;}
}


body.page-routing {
  cursor: wait;
  .hide-routing {opacity:0;}
  .page-content {opacity:0;}
}

.page-content {
  min-height: 100%;
  height: fit-content;
}

  /* =============================================================================
   Preloader
   ========================================================================== */

   .page {}

  /* =============================================================================
   Mixins
   ========================================================================== */

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

// You can then use the class like this:
.visually-hidden {
  @include visually-hidden;
}


@mixin noButton {
  background: transparent;
  border: none;
  padding: 0;
  appearance: none;
  cursor: pointer;
  height: auto;
  display: block;
  outline: none;  
  border-radius: 0;
  text-align:left;
}

@mixin gridSetup {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--gutter);
  padding: var(--gutter);
}

  /* =============================================================================
   Modernizer
   ========================================================================== */

