/* =============================================================================
   Typography
   ========================================================================== */
@use 'breakpoints' as *;


// Founders Grotesk Regular

@font-face {
  font-family: "Founders Grotesk Regular";
  src: url("@/assets/fonts/FoundersGroteskWeb-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;    

}

@mixin foundersRegular {
  font-family: "Founders Grotesk Regular", sans-serif;
  font-style: normal;
  font-weight:normal;    
}

// Founders Grotesk Semi Bold

@font-face {
  font-family: "Founders Grotesk Bold";
  src: url("@/assets/fonts/FoundersGroteskWeb-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;    
}

@mixin foundersBold {
  font-family: "Founders Grotesk Bold", sans-serif;
  font-style: normal;
  font-weight:normal;    
}


/* =============================================================================
   Font sizes
   ========================================================================== */
:root {
 
  --body:0.875rem;
  --body-l: 1.4;
  
}



/* =============================================================================
   Typographic Mixins 
   ========================================================================== */

// Founders Regular

@mixin bodyType {
  font-size: var(--body);
  line-height: var(--body-l);
  @include foundersRegular;
  letter-spacing: 0; 
}

@mixin menuType {
  font-size: var(--body);
  line-height: 1;
  @include foundersRegular;
  text-transform: uppercase;  
  letter-spacing: 0.01em;
}



/* =============================================================================
   basic rules 
   ========================================================================== */

body {
  @include bodyType;
}

p {@include bodyType;}

em,
i {
  font-style: normal;
}

// Optimize legibility for better kerning

body,
p,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
a,
input,
select,
radio {
  text-rendering: geometricPrecision;
  font-weight: normal;
}

// Font smoothing

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'kern';
  -moz-font-feature-settings: 'kern';
  -moz-font-feature-settings: 'kern=1';
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  font-feature-settings: 'kern';
  font-kerning: normal;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
