/* =============================================================================
   Typography
   ========================================================================== */
@use 'breakpoints' as *;


// Founders Grotesk Regular

@font-face {
  font-family: "Founders Grotesk Regular";
  src: url("@/assets/fonts/FoundersGroteskWeb-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;    

}

@mixin foundersRegular {
  font-family: "Founders Grotesk Regular", sans-serif;
  font-style: normal;
  font-weight:normal;    
}

// Founders Grotesk Semi Bold

@font-face {
  font-family: "Founders Grotesk Semi Bold";
  src: url("@/assets/fonts/FoundersGroteskWeb-Semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;    
}

@mixin foundersSemiBold {
  font-family: "Founders Grotesk Semi Bold", sans-serif;
  font-style: normal;
  font-weight:normal;    
}

// Heldane Text

@font-face {
  font-family: "Heldane Text";
  src: url("@/assets/fonts/heldane-text-web-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;    
}

@mixin heldaneText {
  font-family: "Heldane Text", sans-serif;
  font-style: normal;
  font-weight:normal;    
}

// Heldane Text Italic

@font-face {
  font-family: "Heldane Text Italic";
  src: url("@/assets/fonts/heldane-text-web-regular-italic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;    
}

@mixin heldaneTextItalic {
  font-family: "Heldane Text Italic", sans-serif;
  font-style: italic;
  font-weight:normal;    
}

/* =============================================================================
   Font sizes
   ========================================================================== */
:root {
 
  --body:0.875rem;
  --body-l: 1.4;
  --small: 0.75rem;
  --small-l:1.4;
  --heading: 2.875rem;
  --heading-l: 1.087;
  --cta: 3.375rem;
  --cta-l: 1;
}



/* =============================================================================
   Typographic Mixins 
   ========================================================================== */

// Founders Regular

@mixin bodyType {
  font-size: var(--body);
  line-height: var(--body-l);
  @include foundersRegular;
  letter-spacing: 0; 
}

@mixin menuType {
  font-size: var(--body);
  line-height: 1;
  @include foundersRegular;
  text-transform: uppercase;  
  letter-spacing: 0.01em;
}


@mixin smallType {
  font-size: var(--small);
  line-height: var(--small-l);
  @include foundersRegular;

}

// Heldane Text

@mixin heldaneHeading {
  font-size: var(--heading);
  line-height: var(--heading-l);
  @include heldaneText;
  letter-spacing: -0.014em;
  font-feature-settings: "dlig", "ss03", "liga", "calt";
}

@mixin heldaneHeadingItalic {
  font-size: var(--heading);
  line-height: var(--heading-l);
  @include heldaneTextItalic; 
  font-feature-settings: "dlig", "ss03", "liga", "calt";
}

@mixin ctaText {
  @include heldaneText;
  font-size: var(--cta);
  line-height: var(--cta-l);
}


/* =============================================================================
   basic rules 
   ========================================================================== */

body {
  @include bodyType;
}

p {@include bodyType;}

em,
i {
  font-style: normal;
}

strong {
    font-weight: normal;
    @include foundersSemiBold;
}

// Optimize legibility for better kerning

body,
p,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
a,
input,
select,
radio {
  text-rendering: geometricPrecision;
  font-weight: normal;
}

// Font smoothing

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'kern';
  -moz-font-feature-settings: 'kern';
  -moz-font-feature-settings: 'kern=1';
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  font-feature-settings: 'kern';
  font-kerning: normal;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

